<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Disco.Endpoint" value="http://www.broobu.com/services/broobu/disco/disco.svc"/>
    <add key="CouchDB.Protocol" value="http" />
    <add key="CouchDB.Host" value="localhost" />
    <add key="CouchDB.Port" value="5984" />
    <add key="CouchDB.Database" value="wulka-fx-test" />
    <add key="CouchDb.User" value="wulka" />
    <add key="CouchDb.Password" value="K1llB1ll2" />
    <add key="Boutique.MenuSource" value="Store"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>