<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <add key="FileWatcher.QueueName" value=".\private$\TransactionFiles"/>
    <add key="FileWatcher.InboxPath" value="C:\Ftp\TransactionProcessor\Inbox"/>
    <add key="FileWatcher.ReceivedPath" value="C:\Ftp\TransactionProcessor\Received"/>
    <add key="FileWatcher.ErrorPath" value="C:\Ftp\TransactionProcessor\Error"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="TransactedBinding">
          <security mode="None" />
        </binding>
        <binding name="NetMsmqBinding_ITransactionRouter" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536"
          maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5"
          retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false"
          useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288"
          useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream"
              msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://localhost/private/transactionfiles"
        binding="netMsmqBinding" bindingConfiguration="TransactedBinding"
        contract="TransactionRouterServiceRef.ITransactionRouter" name="NetMsmqBinding_ITransactionRouter" />
    </client>
  </system.serviceModel>

  <log4net>
    <!--For logging to work, make sure that the account which runs under IIS has full access to the log folder-->
    <!-- Service log file (Rolling File Appender) -->
    <appender name="ServiceLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="${PMS_LOGS}\Pms.FileWatcher.WinService\Pms.FileWatcher.WinService.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value=".yyyyMMdd.\l\o\g" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="10MB" />
      <StaticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-16thread] %-5level %-32logger{2} - %message%newline" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <level value="INFO" />
      <appender-ref ref="ServiceLogFileAppender" />
    </root>
    <!-- Set the level below to ON/OFF to enable/disable a specific logger. -->
    <logger name="Pms.xxx">
      <level value="ON" />
    </logger>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>