<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Disco.Endpoint" value="http://www.broobu.com/services/broobu/disco/disco.svc"/>
    <add key="Binding.ReceiveTimeout" value="00:30:00"/>
    <add key="DebugOnly.AcceptAllCertificates" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
