<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogToConsole="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="console" xsi:type="ColoredConsole"
          layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
    <target xsi:type="File" name="f" fileName="${specialfolder:folder=CommonApplicationData}/Broobu/Logs/Broobu.Engine.Service/Broobu.Engine.Service.log"
            archiveEvery="Day"
            archiveFileName="${specialfolder:folder=CommonApplicationData}/Broobu/Logs/Broobu.Engine.Service/Broobu.Engine.Service.${shortdate}.log"
            layout="${longdate}|${logger}&#9;|${uppercase:${level}}| ${message}" 
            />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="f" />
  </rules>
</nlog>