<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <diagnostics performanceCounters="Off">
      <messageLogging logMalformedMessages="false"
                      logMessagesAtServiceLevel="false"
                      logMessagesAtTransportLevel="false" />
    </diagnostics>
    <bindings>
      <wsHttpBinding>
        <binding name="BindingConfigNT"
                 closeTimeout="00:00:30"
                 openTimeout="00:00:30"
                 sendTimeout="00:00:30"
                 receiveTimeout="00:00:30">
          <security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BindingConfigIS">
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="AuthenticationService.ServiceBehavior"
               name="Psbe.Auth.Service.AuthenticationService">
        <clear />
        <endpoint address="http://localhost:5044/BackOffice/AuthenticationService/NT"
                  binding="wsHttpBinding"
                  bindingConfiguration="BindingConfigNT"
                  name="AuthEndPoint"
                  contract="Psbe.Auth.Service.IAuthenticationService"
                  listenUriMode="Explicit"/>

        <endpoint binding="mexHttpBinding"
                  address="mex"
                  name="AuthMexEndPoint"
                  contract="IMetadataExchange"
                  listenUriMode="Explicit"/>

        <endpoint binding="basicHttpBinding"
                  address="http://localhost:5044/BackOffice/AuthenticationService/IS"
                  bindingConfiguration="BindingConfigIS"
                  name="AuthBasicHttpBinding"
                  contract="Psbe.Auth.Service.IAuthenticationService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5044/BackOffice/AuthenticationService" />
          </baseAddresses>
          <timeouts openTimeout="00:00:30" />
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AuthenticationService.ServiceBehavior">
          <serviceThrottling maxConcurrentCalls="30"/>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>  
</configuration>
