<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Disco.Endpoint : http://.... | net.pipe://.....  -->
    <add key="Disco.Endpoint" value="net.pipe://develop.tropus.be/services/infrastructure/disco/disco.svc"/>
    <add key="DiscoveryProxy.Announce" value="http://localhost:88/discoproxy/discoproxy.svc/announce"/>
    <add key="DiscoveryProxy.Probe" value="http://localhost:88/discoproxy/discoproxy.svc/probe"/>
    <add key="Binding.ReceiveTimeout" value="00:05:00"/>
    <add key="Binding.SendTimeout" value="00:05:00"/>
    <add key="Binding.TransactionFlow" value="true"/>
    <add key="Binding.MaxMessageSize" value="2147483647"/>
    <add key="Client.NeedsSyncClient" value="true"/>
    <!-- Enable or Disable Authentication in Applets -->
    <add key="Applet.Authenticate" value="false"/>
    <!--AutoRegisterDomain enables you to activate or deactivate automatic domain generation Default=false-->
    <add key="Service.AutoRegisterDomain" value="false"/>
    <add key="Service.UpscaleBindings" value="true"/>
    <add key="Service.EnableMex" value="false"/>
    <add key="Service.EnableDiscovery" value="true"/>
    <add key="CouchDB.Host" value="localhost"/>
    <add key="CouchDB.Port" value="5984"/>
    <add key="CouchDB.Database" value="Wulka-test"/>
    <add key="CouchDB.User" value="user"/>
    <add key="CouchDB.Password" value="password"/>
    <add key="CouchDB.Protocol" value="http"/>
    <!--The number of reties, 0= forever default = 10-->
    <add key="Retry.Treshold" value="20"/>
    <!--Pause in seconds before another retry is made default = 2-->
    <add key="Retry.Pause" value="2"/>
    <!--Indicates if the service will validate incoming requests against the sessionproxy-->
    <add key="Session.Validate" value="false"/>
    <!--Time in minutes before a user session times out-->
    <add key="Session.Timeout" value="0"/>
    <!--The delay in seconds; that a service will wait before announcing itself-->
    <add key="Announce.Delay" value="15"/>
    <!-- DataMode = Instance | Mock | XmlConfig -->
    <add key="DataMode" value="Instance"/>
    <add key="Transactions.QueueHost" value="localhost"/>
    <add key="CouchDB.Host" value="localhost"/>
    <add key="CouchDB.Port" value="5984"/>
    <add key="CouchDB.Database" value="WulkaFx"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
