<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CouchDB.Protocol" value="http" />
    <add key="CouchDB.Host" value="localhost" />
    <add key="CouchDB.Port" value="5984" />
    <add key="CouchDB.Database" value="cloudeen-test" />
    <add key="CouchDb.User" value="iris" />
    <add key="CouchDb.Password" value="K1llB1ll2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
