<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="Engine.IsCached" value="false" />
    <add key="Service.Negotiate" value="true" />
    <add key="Negotiate.Timeout" value="10000" />
    <add key="Enable.NamedPipes" value="true" />
    <add key="Enable.Mirror" value="false" />
    <add key="Engine.LogRegistration" value = "true"/>
    <add key="Mirror.Nodes" value="http://cloud.tropus.be:1800/cloud/mirror,http://engine.broobu.com:1800/cloud/mirror" />
  </appSettings>

  <!--Start ServiceModel Configuration-->
  <system.serviceModel>

    <standardEndpoints>
      <announcementEndpoint>
        <standardEndpoint name="epAnnounce" />
      </announcementEndpoint>
      <discoveryEndpoint>
        <standardEndpoint name="epProbe" discoveryMode="Managed" />
      </discoveryEndpoint>
      <dynamicEndpoint>
        <standardEndpoint name="epMirror" />
      </dynamicEndpoint>
    </standardEndpoints>


    <bindings>
      <wsHttpBinding>
        <binding name="bndHttp" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="bhCloudEngine" name="Broobu.Engine.Service.CloudEngine">
        <endpoint address="probe" binding="wsHttpBinding" bindingConfiguration="bndHttp" isSystemEndpoint="false" kind="discoveryEndpoint" endpointConfiguration="epProbe" />
        <endpoint address="announce" binding="wsHttpBinding" bindingConfiguration="bndHttp" kind="announcementEndpoint" endpointConfiguration="epAnnounce" />
        <endpoint address="mirror" binding="basicHttpBinding" contract="Broobu.Engine.Contract.Interfaces.IMirror" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1800/cloud" />
            <!--<add baseAddress="http://cloud.broobu.com:1800/cloud" />-->
          </baseAddresses>
        </host>
      </service>

    </services>

    
    <behaviors>
      <serviceBehaviors>

        <behavior name="bhCloudEngine">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>

        


      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <!--End ServiceModel Configuration-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
