<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <!--Uncomment for Production-->
    <add key="Disco.Endpoint" value="net.pipe://localhost/services/broobu/disco/disco.svc" />


    <!--Uncomment for Development -->
    <!--<add key="Disco.Endpoint" value="net.pipe://localhost/soa/disco/disco.svc" />-->

    
    
    
    <add key="Service.CommonName" value="Broobu Activation Service" />
    <add key="Binding.ReceiveTimeout" value="01:00:00" />
    <add key="Binding.SendTimeout" value="01:00:00" />
    <add key="Service.AutoRegisterDomain" value="false" />
    <add key="Service.EnableMex" value="true" />
    <add key="Service.SecureMex" value="true" />
    <add key="Service.Register" value="true" />
    <add key="Service.AnnounceDelay" value="5" />
    <add key="Service.IsRestful" value="true" />


  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Broobu.Activate.Rest.ActivateSentry">
        <!--<endpoint address="" binding="webHttpBinding" contract="Broobu.Activate.Rest.IActivate"/>-->
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://localhost/soa/act/act.svc" />-->
            <add baseAddress="http://www.broobu.com/services/broobu/act/act.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    
     <endpointBehaviors>
       <behavior>
         <webHttp/>
       </behavior>
     </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add scheme="http" binding="webHttpBinding"/>
    </protocolMapping>
  </system.serviceModel>

</configuration>
