<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Disco.Endpoint" value="http://localhost/services/infrastructure/disco/disco.svc" />
    <!--<add key="Disco.Endpoint" value="http://172.16.202.77/services/infrastructure/disco/disco.svc" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
