<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMirror" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_DiscoveryProxy">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_Client">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cloud.tropus.be:1800/cloud/probe" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_DiscoveryProxy" contract="ServiceReference1.DiscoveryProxy"
        name="WSHttpBinding_DiscoveryProxy" />
      <endpoint address="http://cloud.tropus.be:1800/cloud/announce"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Client"
        contract="ServiceReference1.Client" name="WSHttpBinding_Client" />
      <endpoint address="http://cloud.tropus.be:1800/cloud/mirror"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMirror"
        contract="ServiceReference1.IMirror" name="BasicHttpBinding_IMirror" />
    </client>
    <services>
      <service name="WcfServiceLibrary1.Service1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/"   />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary1.IService1">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. --> 
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
