<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMirror" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_DiscoveryProxy">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_Client">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://engine.broobu.com:1800/cloud/probe" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_DiscoveryProxy" contract="ServiceReference1.DiscoveryProxy" name="WSHttpBinding_DiscoveryProxy" />
            <endpoint address="http://engine.broobu.com:1800/cloud/announce" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Client" contract="ServiceReference1.Client" name="WSHttpBinding_Client" />
            <endpoint address="http://engine.broobu.com:1800/cloud/mirror" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMirror" contract="ServiceReference1.IMirror" name="BasicHttpBinding_IMirror" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
