<?xml version="1.0"?>
<configuration>



  <appSettings>
    <add key="Cloud.Announce" value="http://engine.broobu.com:1800/cloud/announce" />
    <add key="Disco.Endpoint" value="net.pipe://localhost/services/broobu/disco/disco.svc" />
    <add key="Service.EnableMex" value="true"/>
    <add key="Service.SecureMex" value="false"/>
    <add key="Service.Register" value="true"/>
    <add key="Service.CommonName" value="Manage Broobu Service"/>
    <add key="Service.AnnounceDelay" value="5"/>
    <add key="Binding.ReceiveTimeout" value="01:00:00" />
    <add key="Binding.SendTimeout" value="01:00:00" />
    <add key="Service.AutoRegisterDomain" value="false" />
  </appSettings>
 
 


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
