<#@ xsd processor="T4Toolbox.XsdProcessor" 
    file="%VS100COMNTOOLS%\..\..\Xml\Schemas\DbmlSchema.xsd" #>
<#@ include file="RepositoryAgentInterfaceTemplate.tt" #>
<#+
// --------------------------------------------------------------------------
// Initial Release : 2010-05-17
// Author          : Marnix De Groote
// --------------------------------------------------------------------------

public class RepositoryAgentInterfaceGenerator : Generator
{
	public string DatabaseDbml;
	public string TableNamePrefix;
	public string Namespace;
	public bool	HasDynamicSchema;
	public bool NeedsBulkCrud;
	public bool PrefixEntityNameWithSchemaName;
	
	private RepositoryAgentInterfaceTemplate _template = new RepositoryAgentInterfaceTemplate();  

    protected override void RunCore()
    {
		DatabaseInfo databaseInfo = new DatabaseInfo(DatabaseDbml, TableNamePrefix, PrefixEntityNameWithSchemaName);
	    foreach (TableInfo tableInfo in databaseInfo.TableInfos)
        {
   			if (tableInfo.HasFunctions == false)
			{
				continue;
			}
          	_template.TableInfo = tableInfo;
            _template.Namespace = Namespace;
            _template.HasDynamicSchema = HasDynamicSchema;
            _template.NeedsBulkCrud = NeedsBulkCrud;
            _template.RenderToFile("I" + tableInfo.EntityName + "RepositoryAgent.cs");
        }
    }
}
#>
