<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	
	<appSettings>
		<add key="DiscoveryProxy.Announce" value="http://localhost:88/discoproxy/discoproxy.svc/announce"/>
		<add key="Disco.Endpoint" value="net.pipe://localhost/services/infrastructure/disco/disco.svc"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	
	<log4net>
		<!--For logging to work, make sure that the account which runs under IIS has full access to the log folder-->
		<!-- Service log file (Rolling File Appender) -->
		<appender name="ServiceLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<file value="${PMS_LOGS}\Pms.ManageWorkspaces.Service\Pms.ManageWorkspaces.Service.log" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value=".yyyyMMdd.\l\o\g" />
			<maxSizeRollBackups value="2" />
			<maximumFileSize value="10MB" />
			<StaticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%-16thread] %-5level %-32logger{2} - %message%newline" />
			</layout>
		</appender>
		<!-- Setup the root category, add the appenders and set the default priority -->
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ServiceLogFileAppender" />
		</root>
		<!-- Set the level below to ON/OFF to enable/disable a specific logger. -->
		<logger name="Pms.xxx">
		<level value="ON" />
	</logger>
	</log4net>
	
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>