<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>



    <!--Uncomment for Production-->
    <add key="Cloud.Announce" value="http://engine.broobu.com:1800/cloud/announce" />
    <add key="Disco.Endpoint" value="net.pipe://localhost/services/broobu/disco/disco.svc" />


    <!--Uncomment for Development -->
    <!--<add key="Disco.Endpoint" value="net.pipe://localhost/soa/disco/disco.svc" />
    <add key="Cloud.Announce" value="http://localhost:1800/cloud/announce"/>-->

    
    <add key="Service.CommonName" value="Broobu EcoSpace Service" />
    <!--AutoRegisterDomain enables you to activate or deactivate automatic domain generation Default=false-->
    <add key="Service.AutoRegisterDomain" value="false" />
    <add key="Service.EnableMex" value="true" />
    <add key="Service.Register" value="true" />
    <add key="Service.AutoRegisterDomain" value="true"/>
    <!--The number of reties, 0= forever default = 10-->
    <add key="Retry.Treshold" value="2" />
    <!--Pause in seconds before another retry is made default = 2-->
    <add key="Retry.Pause" value="2" />
    <!--<add key="CouchDB.Protocol" value="https"/>
    <add key="CouchDB.Host" value="Broobu.cloudant.com"/>
    <add key="CouchDB.Port" value="443"/>
    <add key="CouchDB.Database" value="wulka-fx-test"/>
    <add key="CouchDb.User" value="wulka"/>
    <add key="CouchDb.Password" value="K1llB1ll2"/>-->
    <add key="CouchDB.Protocol" value="http" />
    <add key="CouchDB.Host" value="localhost" />
    <add key="CouchDB.Port" value="5984" />
    <add key="CouchDB.Database" value="wulka-fx-test" />
    <add key="CouchDb.User" value="wulka" />
    <add key="CouchDb.Password" value="K1llB1ll2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  


  

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
