<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AmazonSDBBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AmazonSDBBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sdb.amazonaws.com" binding="basicHttpBinding"
                bindingConfiguration="AmazonSDBBinding" contract="ServiceRef.AmazonSDBPortType"
                name="AmazonSDBPortType" />
        </client>
    </system.serviceModel>
</configuration>