<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <appSettings>
    <add key="Cloud.Announce" value="http://engine.broobu.com:1800/cloud/announce" />
    <add key="Disco.Endpoint" value="net.pipe://localhost/services/broobu/disco/disco.svc" />
    <add key="CouchDB.Protocol" value="http" />
    <add key="CouchDB.Host" value="localhost" />
    <add key="CouchDB.Port" value="5984" />
    <add key="CouchDB.Database" value="iris-fx-test" />
    <add key="CouchDb.User" value="iris" />
    <add key="CouchDb.Password" value="K1llB1ll2" />
  </appSettings>



  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Broobu.CloudMon.Rest.CloudMonSentry">
        <host>
          <baseAddresses>
            <add baseAddress="http://www.broobu.com/services/broobu/cloudmon/cloudmon.svc" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="webHttpBinding" contract="Broobu.CloudMon.Rest.Interfaces.ICloudMon">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <!--<identity>
            <dns value="www.broobu.com"/>
          </identity>-->
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. --> 
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>

    </behaviors>
    <protocolMapping>
      <add scheme="http" binding="webHttpBinding" />    
    </protocolMapping>
  </system.serviceModel>

  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\broobu_logs\Broobu.CloudMon.Rest\wcf.svclog" />
        </listeners>
    </source>
    </sources>
  </system.diagnostics>



<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
