<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="CloudEngine.Announce" value="http://localhost:88/cloudengine/discoproxy.svc/announce"/>-->
    <add key="CloudEngine.Announce" value="http://engine.broobu.com:1800/cloudengine/announce"/>
    <add key="Disco.Endpoint" value="epNetPipe"/>
    <add key="DataMode" value="Instance"/>
    <add key="MenuSource" value="Xml"/>
    <add key="Service.EnableMex" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <!--<system.serviceModel>
    <client>
      <endpoint address="http://localhost/services/infrastructure/disco/disco.svc"
        binding="basicHttpBinding"
        contract="Iris.Fx.Interfaces.IDisco"
        name="epHttp" />
      <endpoint address="net.pipe://localhost/services/infrastructure/disco/disco.svc"
       binding="netNamedPipeBinding"
       contract="IrisFx.Interfaces.IDisco"
       name="epNetPipe" />
    </client>
  </system.serviceModel>-->

 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>