<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!--Uncomment for Production-->
    <!--<add key="Cloud.Probe" value="http://engine.broobu.com:1800/cloud/probe" />
    <add key="Cloud.Announce" value="http://engine.broobu.com:1800/cloud/announce" />
    <add key="Disco.Endpoint" value="http://www.broobu.com/services/broobu/disco/disco.svc" />-->
    <add key="Service.CommonName" value="Broobu Discovery Service" />
    <add key="Service.Register" value="false" />
    <!--Uncomment for Development -->
    <!--<add key="Cloud.Probe" value="http://cloud.tropus.be:1800/cloud/probe"/>
    <add key="Cloud.Announce" value="http://cloud.tropus.be:1800/cloud/announce"/>-->
    <add key="Disco.Endpoint" value="http://localhost/soa/disco/disco.svc" />

    <add key="Binding.SendTimeout" value="00:10:00" />
    <add key="Service.AutoRegisterDomain" value="false" />
    <add key="Service.EnableMex" value="true" />
    
    
    <add key="CouchDB.Protocol" value="http" />
    <add key="CouchDB.Host" value="localhost" />
    <add key="CouchDB.Port" value="5984" />
    <add key="CouchDB.Database" value="wulka-fx-test" />
    <add key="CouchDb.User" value="wulka" />
    <add key="CouchDb.Password" value="K1llB1ll2" />



  </appSettings>


 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
