<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <add key="Router.PluginAssemblyLocation" value="G:\VeoliaPoc\Filters\Pms.VeoliaPoC.TransactionRouter.Filter.dll"/>
    <add key="Transactions.InboxPath" value="G:\VeoliaPoC\TrxIn" />
    <add key="Transactions.TemporaryPath" value="G:\VeoliaPoC\TrxTemp" />
  </appSettings>


  
  
  <system.serviceModel>
    <services>
      <service name="Pms.TransactionRouter.Service.TransactionRouterService" behaviorConfiguration="bhvTransactionRouter">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7070/services/transactions/transactionrouter/service" />
          </baseAddresses>
        </host>


        <endpoint address="net.msmq://localhost/private/transactionfiles" 
                  binding="netMsmqBinding" 
                  contract="Pms.Framework.Interfaces.ITransactionRouter"
                  bindingConfiguration="bndTransacted" />
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="bhvTransactionRouter">
          <serviceMetadata httpGetEnabled="True" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netMsmqBinding>
        <binding name="bndTransacted">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>


  <log4net>
    <!--For logging to work, make sure that the account which runs under IIS has full access to the log folder-->
    <!-- Service log file (Rolling File Appender) -->
    <appender name="ServiceLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="${PMS_LOGS}\Pms.TransactionRouter.Service\Pms.TransactionRouter.Service.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value=".yyyyMMdd.\l\o\g" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="10MB" />
      <StaticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-16thread] %-5level %-32logger{2} - %message%newline" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ServiceLogFileAppender" />
    </root>
    <!-- Set the level below to ON/OFF to enable/disable a specific logger. -->
    <logger name="Pms.xxx">
      <level value="OFF" />
    </logger>
  </log4net>




  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
</configuration>