<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <appSettings>
    <add key="Cloud.Announce" value="http://engine.broobu.com:1800/cloud/announce"/>
    <add key="Disco.Endpoint" value="net.pipe://localhost/services/broobu/disco/disco.svc"/>
    <add key="Service.CommonName" value="Broobu Manage Taxonomy Use Case Service"/>
    <add key="Binding.ReceiveTimeout" value="01:00:00"/>
    <add key="Binding.SendTimeout" value="01:00:00"/>
    <add key="Service.AutoRegisterDomain" value="false"/>
    <add key="Service.EnableMex" value="true"/>
    <add key="Service.SecureMex" value="true"/>
    <add key="Service.Register" value="true"/>
    <add key="Service.AnnounceDelay" value="5"/>
    <add key="Service.IsRestful" value="false"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

  
  
  <log4net>
    <!--For logging to work, make sure that the account which runs under IIS has full access to the log folder
     Service log file (Rolling File Appender)-->
    <appender name="ServiceLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="${BROOBU_LOGS}\Broobu.ManageTaxo.Service\Broobu.ManageTaxo.Service.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value=".yyyyMMdd.\l\o\g"/>
      <maxSizeRollBackups value="2"/>
      <maximumFileSize value="10MB"/>
      <StaticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-16thread] %-5level %-32logger{2} - %message%newline"/>
      </layout>
    </appender>
    <!--Setup the root category, add the appenders and set the default priority-->
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ServiceLogFileAppender"/>
    </root>
    <!--Set the level below to ON/OFF to enable/disable a specific logger.-->
    <logger name="Broobu.xxx">
      <level value="OFF"/>
    </logger>
  </log4net>
</configuration>
