<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DiscoveryProxy.Announce" value="http://localhost:88/discoproxy/discoproxy.svc/announce"/>
    <add key="Disco.Endpoint" value="epNetPipe"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/services/infrastructure/disco/disco.svc"
                binding="basicHttpBinding"
                contract="Pms.Framework.Interfaces.IDisco"
                name="epHttp" />
      <endpoint address="net.pipe://localhost/services/infrastructure/disco/disco.svc"
                binding="netNamedPipeBinding"
                contract="Pms.Framework.Interfaces.IDisco"
                name="epNetPipe" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>