<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="Service.CommonName" value="Broobu Discovery Service" />
    <add key="Service.Register" value="false" />
    <add key="Disco.Endpoint" value="net.pipe://localhost/soa/disco/disco.svc" />
    <add key="Cloud.Probe" value="http://localhost:1800/cloud/probe"/>
    <add key="Cloud.Announce" value="http://localhost:1800/cloud/announce"/>
    <add key="Composition.Logging" value="false"/>
    <add key="Binding.SendTimeout" value="00:10:00" />
    <add key="Service.AutoRegisterDomain" value="false" />
    <add key="Service.EnableMex" value="true" />
    <add key="CouchDB.Protocol" value="http" />
    <add key="CouchDB.Host" value="localhost" />
    <add key="CouchDB.Port" value="5984" />
    <add key="CouchDb.User" value="YourCouchDbUser" />
    <add key="CouchDb.Password" value="YourCouchDbPassword" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
