<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="CloudEngine.Announce" value="http://engine.broobu.com:1800/cloudengine/announce"/>
    <add key="Disco.Endpoint" value="net.pipe://localhost/services/broobu/disco/disco.svc"/>
    <add key="Service.AutoRegisterDomain" value="true"/>
    <add key="Service.EnableMex" value="true"/>

    <add key="CouchDB.Protocol" value="http"/>
    <add key="CouchDB.Host" value="localhost"/>
    <add key="CouchDB.Port" value="5984"/>
    <add key="CouchDB.Database" value="iris-fx-test"/>
    <add key="CouchDb.User" value="iris"/>
    <add key="CouchDb.Password" value="K1llB1ll2"/>


  </appSettings>
  <log4net>
    <!--For logging to work, make sure that the account which runs under IIS has full access to the log folder-->
    <!-- Service log file (Rolling File Appender) -->
    <appender name="ServiceLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="${BROOBU_LOGS}\Broobu.Contact.Service\Broobu.Contact.Service.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value=".yyyyMMdd.\l\o\g"/>
      <maxSizeRollBackups value="2"/>
      <maximumFileSize value="10MB"/>
      <StaticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-16thread] %-5level %-32logger{2} - %message%newline"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ServiceLogFileAppender"/>
    </root>
    <!-- Set the level below to ON/OFF to enable/disable a specific logger. -->
    <logger name="Broobu.xxx">
      <level value="OFF"/>
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>-->
</configuration>
