<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="Service.CommonName" value ="Broobu Community Disco Console"/>
    
    <add key="Console.Disco" value="http://localhost/soa/disco"/>
    <add key="Console.Monitor" value="http://localhost/soa/monitor"/>
    <add key="Console.CloudContract" value="http://localhost/soa/cloudcontract"/>
    
    <add key="Disco.Endpoint" value="http://localhost/soa/disco" />
    
    <add key="Cloud.Probe" value="http://localhost:1800/cloud/probe"/>
    <add key="Cloud.Announce" value="http://localhost:1800/cloud/announce"/>
    
    <add key="Engine.IsCached" value="false" />
    <add key="Service.Negotiate" value="true" />
    <add key="Negotiate.Timeout" value="10000" />
    <add key="Enable.NamedPipes" value="true" />
    <add key="Engine.LogRegistration" value = "true"/>
    <add key="Service.EnableMex" value="true"/>
    
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
